@model FlexTemplate.ViewModels.AdminController.AdminCategoriesViewModel

<div class="c-categories container admin">
  @if (Model != null)
  {
  	<div class="categories">
    @foreach (var category in Model.Categories)
    {
    	<div class="category" dataId="@category.Id">
				<h3>Категорія <input id="categoryName" class="form-control" type="text" value="@category.Name"></h3>
				<button class="btn btn-primary btn-form admin-button admin-button-remove-category">Remove category</button>
				<div class="aliases">
				 	@foreach (var alias in category.Aliases)
				 	{
				 		<div class="alias" dataId="@alias.Id">
					    <input class="form-control" type="text" value="@alias.Text">
					    <select class="custom-select languages">
						    @foreach (var lang in Model.Languages)
						    {
						    	<option dataId="@lang.Id">@lang.ShortName</option>
						    }
					    </select>
					 		<button class="btn btn-primary btn-form admin-button-alias-save">Save alias</button>
					 		<button class="btn btn-primary btn-form admin-button-alias-remove">Remove alias</button>
				 		</div>
				 	}
					<div class="buttons">
						<button class="btn btn-primary btn-form admin-button-add-alias">Add alias</button>
	    			<button class="btn btn-primary btn-form admin-button-save">Save</button>
					</div>
				</div>
      </div>
    }
    </div>
		<button class="btn btn-primary btn-form admin-button admin-button-add-category">Add category</button>
  }
</div>

<script>
	// window.onload = function() {
	// 	$.ajax(GET_LANGUAGES, {
 //    	success: function() {
 //    		$()
 //    	},
	//     error: function(error) {
	//       console.log('error ' + error);
	//     }
	// 	});
	// };
</script>