@model FlexTemplate.ViewModels.AdminController.AdminContainersViewModel

<div class="c-categories container admin">
    @if (Model != null)
    {
        <div class="containers">
            @foreach (var container in Model.Containers)
            {
                <div class="container" dataId="@container.Id">
                    <h3><span>Контейнер @container.Name</span></h3>
                    @foreach (var localTag in container.LocalizableStrings.GroupBy(ls => ls.Tag).Select(ls => ls.First()))
                    {
                        <div class="alias" dataId="@container.Id">
                            <label>@localTag.Tag</label>
                        </div>

                        @foreach (var local in container.LocalizableStrings.Where(ls => ls.Tag == localTag.Tag))
                        {
                            <input class="form-control" type="text" value="@local.Text">
                            <label>@localTag.Language.ShortName</label>
                        }
                    }

                    <button class="btn btn-primary btn-form admin-button admin-button-remove-category">Remove container</button>
                </div>
            }
        </div>
        <button class="btn btn-primary btn-form admin-button admin-button-add-category">Add container</button>
    }
</div>
