@model FlexTemplate.ViewModels.AdminController.AdminLanguageViewModel
@if (Model != null)
{
    @using (Html.BeginForm("UpdateLanguages", "Admin"))
    {
         @for (var i = 0; i < Model.Languages.Count; i++)
          {
              <div>
                  <label>@Model.Languages[i].Name - @Model.Languages[i].ShortName</label>
                  <input name="Languages[@i].IsActive" type="checkbox" style="display: block; opacity: 100;" checked="@Model.Languages[i].IsActive">
                  @Html.EditorFor(model => Model.Languages[i].Id, false)
                  <input type="text" name="Languages.Id" style="display: none; opacity: 0;" value="@Model.Languages[i].Id"/>
              </div>
          }
         <input type="submit" value="Кнопка"/>
     }
}