@using FlexTemplate.Entities
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model FlexTemplate.ViewModels.HomeController.ThisPlacesFiltersViewModel
<div class="col-sm-4 col-md-3">

    <div class="section-title-02">
        <h4><span>Filter Your Result</span></h4>
    </div>

    <div class="sidebar-module">
        <h5>Price Range</h5>
        <div class="range-slider-wrapper">
            <input id="price_range" />
        </div>
    </div>

    <div class="sidebar-module">
        <h5>Rating Range</h5>
        <div class="range-slider-wrapper">
            <input id="star_rating_range" />
        </div>
    </div>

    <div class="sidebar-module">
        <h5>Категорії</h5>
        @foreach (Category category in Model.Categories)
        {
            <div class="checkbox-block font-icon-checkbox">
                <input id="filter_categories-@category.Id" name="categories" value="@category.Id" type="checkbox" class="checkbox" checked="@Model.SelectedCategories.Contains(category.Id)" />
                <label class="" for="filter_categories-@category.Id">@category.Name</label>
            </div>
        }
    </div>

    <div class="sidebar-module">
        <h5>Місто</h5>
        <div class="form-group mb-0">
            <select class="custom-select" id="cities">
                @foreach (City city in Model.Cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
        </div>
    </div>

    <div class="sidebar-module">
        <h5>Sidebar Text</h5>
        <p>Attachment apartments in delightful by motionless it no. And now she burst sir learn total. Hearing hearted shewing own ask. Solicitude uncommonly use her motionless not collecting age. The properly servants required mistaken outlived bed and.</p>
    </div>

</div>