@using System.Linq
@using FlexTemplate.Entities
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model FlexTemplate.ViewModels.HomeController.ThisPlacesListViewModel
<div class="col-sm-8 col-md-9">

    <div class="sort-by-wrapper clearfix">

        <div class="row gap-5">

            <div class="col-sm-10">

                <div class="text-holder bg-primary">Сортувати за:</div>
                <ul class="sort-by">
                    <li>
                        <button class="btn active">Пропозиція <i class="ti-angle-up"></i></button>
                    </li>
                    <li>
                        <button class="btn">Iм'я</button>
                    </li>
                    <li>
                        <button class="btn">Рейтинг</button>
                    </li>
                    <li>
                        <button class="btn">Цiна</button>
                    </li>
                    <li>
                        <button class="btn">Кухня</button>
                    </li>
                    <li>
                        <button class="btn">Місцезнаходження</button>
                    </li>
                </ul>

            </div>

            <div class="col-sm-2">

                <ul class="layout-option">
                    <li><a href="restuarant-result-grid.html"><i class="ti-view-grid"></i></a></li>
                    <li class="active"><a href="restuarant-result-list.html"><i class="ti-view-list-alt"></i></a></li>
                </ul>

            </div>

        </div>

    </div>

    <div class="restaurant-list-item-wrapper no-last-bb">
        @foreach (Place place in Model.Places)
        {
            <div class="restaurant-list-item clearfix">

                <div class="GridLex-grid-noGutter-equalHeight">

                    <div class="GridLex-col-3_sm-3_xss-12">
                        <div class="image">
                            <img src="../../Resources/Places/@place.Id/head.jpg" alt="Image" />
                        </div>
                    </div>

                    <div class="GridLex-col-9_sm-9_xss-12">

                        <div class="GridLex-grid-noGutter-equalHeight">

                            <div class="GridLex-col-9_sm-12 content-wrapper">

                                <div class="content">
                                    <h5><a asp-controller="Home" asp-action="Place" asp-route-id="@place.Id">@place.Name</a></h5>
                                    <p class="location"><i class="fa fa-map-marker"></i> @place.Address @place.Street?.Name, @place.Street?.City?.Name</p>
                                    <p class="short-info">@place.Description?.Substring(0, place.Description.Length > 100 ? 100 : place.Description.Length)...</p>
                                    <p class="text-primary offer">-30% від меню «а ля карт»! * </p>
                                    <p class="cuisine">
                                        Кухня:
                                        @foreach (Category category in place.PlaceCategories.Select(pc => pc?.Category))
                                        {
                                            <span>@category.Name</span>
                                        }
                                    </p>
                                </div>

                            </div>

                            <div class="GridLex-col-3_sm-12 meta-wrapper">

                                <div class="meta">
                                    <div class="rating-wrapper">
                                        <div class="rating-item">
                                            <input type="hidden" class="rating" data-filled="oi oi-star" data-empty="oi oi-star" data-fractions="2" data-readonly value="4" />
                                        </div>
                                        <span class="texting"> (@place.Reviews.Count відгуків)</span>
                                    </div>
                                    <div class="right-bottom">
                                        <div class="price">Середня ціна: <span>$65 - $78</span></div>
                                        <div class="clear"></div>
                                        <a asp-controller="Home" asp-action="Place" asp-route-id="@place.Id" class="btn btn-primary btn-sm btn-block">Деталі</a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        }
    </div>

    <div class="pagination-wrapper">

        <div class="GridLex-grid-middle GridLex-grid-noGutter">
            <div class="GridLex-col-6_sm-12_xs-12">
                <div class="text-right text-center-sm mb-10-sm">Показано з 1 по 24 з 253 ресторанів</div>
            </div>
            <div class="GridLex-col-6_sm-12_xs-12">
                <nav>
                    <ul class="pagination pagination-text-center-sm mb-5-xs">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>

    </div>

</div>