@model FlexTemplate.ViewModels.SearchViewModel
@if (Model != null)
{
<!-- start hero-header -->
<div class="c-search hero alt-height" style="background-image:url('@Model.PhotoPath');">
  <div class="container">
    <h1 tag="TitleFirstLabelCaption">@Model.Strings["TitleFirstLabelCaption"]</h1>
    <p tag="SubtitleLabelCaption">@Model.Strings["SubtitleLabelCaption"]</p>
    <div class="home-search-form">
      <form>
        <div class="form-group location-form">
          <input type="text" class="form-control" placeholder="Де б ви хотіли поїсти?">
        </div>
        <div class="form-group">
          <select class="custom-select" id="cuisine-type">
              @for (int i = 0; i < Model.CategoriesNames.Count; i++)
              {
                <option value="@i">@Model.CategoriesNames[i]</option>
              }
          </select>
        </div>
        <button class="btn btn-primary btn-form" tag="FindButtonCaption">@Model.Strings["FindButtonCaption"]</button>
      </form>
      <div class="clear"></div>
      <p class="around-you" tag="EndLabelCaption"><a href="#">@Model.Strings["EndLabelCaption"]</a></p>
    </div>
  </div>
</div>
<!-- end hero-header -->
}