﻿@model FlexTemplate.ViewModels.HomeController.SearchViewModel
@if (Model != null)
{
<!-- start hero-header -->
<div class="hero alt-height search-margin-top" style="background-image:url('../../@Model.Images.First()'); margin-top:-25px;">
    <div class="container">
        @Html.Raw(Model.Strings["TitleFirstLabelCaption"])
        @Html.Raw(Model.Strings["SubtitleLabelCaption"])

        <div class="home-search-form">

            <form asp-action="Places" name="FormPalces">

                <div class="form-group location-form">
                    <input type="input" class="form-control" placeholder="Where would you like to eat?">
                </div>

                <div class="form-group">
                    <select name="categories" class="custom-select" id="category-type">
                        <option selected="true" disabled="disabled">Всі кухні</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>

                <div class="form-group">
                    <select name="cities" class="custom-select" id="city-type">
                        <option selected="true" disabled="disabled">Всі міста</option>
                        @foreach (var city in Model.Cities)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    </select>
                </div>

                @Html.Raw(Model.Strings["FindButtonCaption"])
            </form>

            <div class="clear"></div>
            @Html.Raw(Model.Strings["EndLabelCaption"])
        </div>

    </div>

</div>
<!-- end hero-header -->
}