﻿@model FlexTemplate.ViewModels.HomeController.SearchViewModel
@if (Model != null)
{
<!-- start hero-header -->
<div id="kb" class="carousel kb_elastic kb_wrapper hero-kb_elastic hero-kb_elastic-alt-height" style="margin-top: -25px;" data-ride="carousel" data-interval="4000" data-pause="false">

    <div class="carousel-inner" role="listbox">

        @foreach (var image in Model.Images)
        {
            <div class="item active img-bg" style="background-image:url('@image');"> </div>
        }

        <div class="kb_overlay"></div>

    </div>

    <div class="hero-kb_elastic-inner search-margin-top">

        <div class="container">

            <h1 tag="TitleFirstLabelCaption" contenteditable="true">@Model.Strings["TitleFirstLabelCaption"]</h1>
            <p tag="SubtitleLabelCaption" contenteditable="true">@Model.Strings["SubtitleLabelCaption"]</p>

            <div class="home-search-form mt-20-xs">

                <form>

                    <div class="form-group location-form">
                        <input type="text" class="form-control" placeholder="Where would you like to eat?">
                    </div>

                    <div class="form-group">
                        <select class="custom-select" id="category-type">
                            @for (int i = 0; i < Model.CategoriesNames.Count; i++)
                            {
                                <option value="@i">@Model.CategoriesNames[i]</option>
                            }
                        </select>

                    </div>

                    <button class="btn btn-primary btn-form" tag="FindButtonCaption">@Model.Strings["FindButtonCaption"]</button>

                </form>

                <div class="clear"></div>

                <p class="around-you" tag="EndLabelCaption" contenteditable="true"><a href="#">@Model.Strings["EndLabelCaption"]</a></p>

            </div>

        </div>

    </div>

</div> 
<!-- end hero-header -->
}