@model FlexTemplate.ViewModels.SearchViewModel
@if (Model != null)
{
<div class="hero-kb_elastic-inner">
    <div class="container">
        <h1 tag="TitleFirstLabelCaption">@Model.Strings["TitleFirstLabelCaption"]</h1>
        <p tag="EndLabelCaption">@Model.Strings["EndLabelCaption"]</p>
        <div class="home-search-form mt-20-xs">
            <form>
                <div class="form-group location-form">
                    <input type="text" class="form-control" placeholder="Де б ви хотіли поїсти?">
                </div>
                <div class="form-group">
                    <select class="custom-select" id="cuisine-type">
                        @for (int i = 0; i < Model.CategoriesNames.Count; i++)
                        {
                            <option value="@i">@Model.CategoriesNames[i]</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <select class="custom-select" id="no-of-people">
                        <option value="0">Кількість людей</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <button class="btn btn-primary btn-form" tag="FindButtonCaption">@Model.Strings["FindButtonCaption"]</button>
            </form>
            <div class="clear"></div>
            <p class="around-you"><a href="#">Або погляньте на інші 128 ресторанів вашого міста</a></p>
        </div>
    </div>
</div>
}