@model FlexTemplate.ViewModels.HomeController.ThisPlaceOverviewViewModel
@{
    bool hasSchedule = Model.Place.Schedule != null && !(Model.Place.Schedule.MondayFrom == TimeSpan.Zero && Model.Place.Schedule.MondayTo == TimeSpan.Zero
    && Model.Place.Schedule.TuesdayFrom == TimeSpan.Zero && Model.Place.Schedule.TuesdayTo == TimeSpan.Zero
    && Model.Place.Schedule.WednesdayFrom == TimeSpan.Zero && Model.Place.Schedule.WednesdayTo == TimeSpan.Zero
    && Model.Place.Schedule.ThurstdayFrom == TimeSpan.Zero && Model.Place.Schedule.ThurstdayTo == TimeSpan.Zero
    && Model.Place.Schedule.FridayFrom == TimeSpan.Zero && Model.Place.Schedule.FridayTo == TimeSpan.Zero
    && Model.Place.Schedule.SaturdayFrom == TimeSpan.Zero && Model.Place.Schedule.SaturdayTo == TimeSpan.Zero
    && Model.Place.Schedule.SundayFrom == TimeSpan.Zero && Model.Place.Schedule.SundayTo == TimeSpan.Zero);
}

@if (Model != null)
{
    <div class="detail-content-section clearfix">

    <div class="section-title-02">
        <h3><span>Overview</span></h3>
    </div>

    <p class="font500">@Html.Raw(Model.Place.Description)</p>

    <!--<p>Knowledge nay estimable questions repulsive daughters boy. Solicitude gay way unaffected expression for. His mistress ladyship required off horrible disposed rejoiced. Unpleasing pianoforte unreserved as oh he unpleasant no inquietude insipidity. Advantages can discretion possession add favourable cultivated admiration far. Why rather assure how esteem end hunted nearer and before. By an truth after heard going early given he. Charmed to it excited females whether at examine. Him abilities suffering may are yet dependent.</p>-->

    <div class="row">

    <div class="col-xs-12 @(hasSchedule ? "col-sm-6" : "col-sm-12") mb-20">

        <div class="contact-box">

            <h5 class="text-primary">Contact Information</h5>

            <p>Unfeeling so rapturous discovery he exquisite. Reasonably so middletons or impression by terminated. Old pleasure required removing elegance him had.</p>

            <ul class="contact-list">

                <li>

                    <div class="icon">
                        <i class="ti-home"></i>
                    </div>

                    <div class="content mrg-content">
                        <p class="mrg-content-address">@Model.Place.Street.Name @Model.Place.Address,<br/>@Model.Place.Street.City.Name</p>
                    </div>

                </li>
               
                <li>

                    <div class="icon">
                        <i class="ti-mobile"></i>
                    </div>

                    <div class="content mrg-content">
                        <p class="mrg-content-phone">@Model.Place.Phone <br /> <br /></p>
                    </div>

                </li>
                @if(!string.IsNullOrEmpty(Model.Place.Email))
                {
                    <li>

                        <div class="icon">
                            <i class="ti-email"></i>
                        </div>

                        <div class="content mrg-content">
                            <p class="mrg-content-email">@Model.Place.Email<br/> <br/>
                            </p>
                        </div>

                    </li>
                }
            </ul>

            <a href="#detail-content-sticky-nav-04" class="btn btn-primary btn-sm anchor-alt">See map &amp; get route</a>
        </div>

    </div>
    @if (hasSchedule)
    {
        <div class="col-xs-12 col-sm-6">

            <div class="open-time-box">

                <h5 class="text-primary">Opening Time</h5>

                <ul class="open-time-list">

                    <li>

                        <div class="row">

                            <div class="col-xs-6 col-sm-6">
                                <span class="day">
                                    Понеділок
                                </span>
                            </div>

                            <div class="col-xs-6 col-sm-6">
                                @if (Model.Place.Schedule.MondayFrom == TimeSpan.Zero && Model.Place.Schedule.MondayTo == TimeSpan.Zero)
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                    вихідний
                                    </span>
                                }
                                else
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                    @Model.Place.Schedule.MondayFrom.ToString("hh\\:mm") - @Model.Place.Schedule.MondayTo.ToString("hh\\:mm")
                                    </span>
                                }
                            </div>

                        </div>

                    </li>

                    <li>

                        <div class="row">

                            <div class="col-xs-6 col-sm-6">
                                <span class="day">
                                    Вівторок
                                </span>
                            </div>

                            <div class="col-xs-6 col-sm-6">
                                @if (Model.Place.Schedule.TuesdayFrom == TimeSpan.Zero && Model.Place.Schedule.TuesdayTo == TimeSpan.Zero)
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                        вихідний
                                    </span>
                                }
                                else
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                        @Model.Place.Schedule.TuesdayFrom.ToString("hh\\:mm") - @Model.Place.Schedule.TuesdayTo.ToString("hh\\:mm")
                                    </span>
                                }
                            </div>

                        </div>

                    </li>

                    <li>

                        <div class="row">

                            <div class="col-xs-6 col-sm-6">
                                <span class="day">
                                    Середа
                                </span>
                            </div>

                            <div class="col-xs-6 col-sm-6">
                                @if (Model.Place.Schedule.WednesdayFrom == TimeSpan.Zero && Model.Place.Schedule.WednesdayTo == TimeSpan.Zero)
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                        вихідний
                                    </span>
                                }
                                else
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                        @Model.Place.Schedule.WednesdayFrom.ToString("hh\\:mm") - @Model.Place.Schedule.WednesdayTo.ToString("hh\\:mm")
                                    </span>
                                }
                            </div>

                        </div>

                    </li>

                    <li>

                        <div class="row">

                            <div class="col-xs-6 col-sm-6">
                                <span class="day">
                                    Четвер
                                </span>
                            </div>

                            <div class="col-xs-6 col-sm-6">
                                @if (Model.Place.Schedule.ThurstdayFrom == TimeSpan.Zero && Model.Place.Schedule.ThurstdayTo == TimeSpan.Zero)
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                        вихідний
                                    </span>
                                }
                                else
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                        @Model.Place.Schedule.ThurstdayFrom.ToString("hh\\:mm") - @Model.Place.Schedule.ThurstdayTo.ToString("hh\\:mm")
                                    </span>
                                }
                            </div>

                        </div>

                    </li>

                    <li>

                        <div class="row">

                            <div class="col-xs-6 col-sm-6">
                                <span class="day">
                                    П’ятниця
                                </span>
                            </div>

                            <div class="col-xs-6 col-sm-6">
                                @if (Model.Place.Schedule.FridayFrom == TimeSpan.Zero && Model.Place.Schedule.FridayTo == TimeSpan.Zero)
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                        вихідний
                                    </span>
                                }
                                else
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                        @Model.Place.Schedule.FridayFrom.ToString("hh\\:mm") - @Model.Place.Schedule.FridayTo.ToString("hh\\:mm")
                                    </span>
                                }
                            </div>

                        </div>

                    </li>

                    <li>

                        <div class="row">

                            <div class="col-xs-6 col-sm-6">
                                <span class="day">
                                    Суббота
                                </span>
                            </div>

                            <div class="col-xs-6 col-sm-6">
                                @if (Model.Place.Schedule.SaturdayFrom == TimeSpan.Zero && Model.Place.Schedule.SaturdayTo == TimeSpan.Zero)
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                        вихідний
                                    </span>
                                }
                                else
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                        @Model.Place.Schedule.SaturdayFrom.ToString("hh\\:mm") - @Model.Place.Schedule.SaturdayTo.ToString("hh\\:mm")
                                    </span>
                                }
                            </div>

                        </div>

                    </li>

                    <li class="day-close">

                        <div class="row">

                            <div class="col-xs-6 col-sm-6">
                                <span class="day">
                                    Неділя
                                </span>
                            </div>

                            <div class="col-xs-6 col-sm-6">
                                @if (Model.Place.Schedule.SundayFrom == TimeSpan.Zero && Model.Place.Schedule.SundayTo == TimeSpan.Zero)
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                        вихідний
                                    </span>
                                }
                                else
                                {
                                    <span class="time text-uppercase font700 spacing-2">
                                        @Model.Place.Schedule.SundayFrom.ToString("hh\\:mm") - @Model.Place.Schedule.SundayTo.ToString("hh\\:mm")
                                    </span>
                                }
                            </div>

                        </div>

                    </li>

                </ul>

            </div>

        </div>
    }
    </div>
    <!--
    <h5 class="text-primary">More about J'AIME by Jean-Michel Lorain</h5>

    <div class="row">

        <div class="col-xss-12 col-xs-6 col-sm-6 col-md-3 mb-15">
            <h6 class="mb-5">Good for</h6>
            <p>- Drink <br>- People watching</p>
        </div>

        <div class="col-xss-12 col-xs-6 col-sm-6 col-md-3 mb-15">
            <h6 class="mb-5">Feature</h6>
            <p>- Outdoor seating <br>- 47" digital HDTV</p>
        </div>

        <div class="col-xss-12 col-xs-6 col-sm-6 col-md-3 mb-15">
            <h6 class="mb-5">Food &amp; Drink</h6>
            <p>- Breakfast, Lunch, and Dinner <br>- Take-out</p>
        </div>

        <div class="col-xss-12 col-xs-6 col-sm-6 col-md-3 mb-15">
            <h6 class="mb-5">Higtlight</h6>
            <p>- Creamy Pasta Carbonara <br>- Dutch Indonesian Chicken</p>
        </div>

        <div class="col-xss-12 col-xs-12 col-sm-12 col-md-12 mb-15">
            <h6 class="mb-5">Payment accepted</h6>
            <p>- Visa, Master card, American Express, UnionPay</p>
        </div>

    </div>
    -->
    </div>
}