@model FlexTemplate.PresentationLayer.WebServices.Home.Blogs.ViewModel
<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">
    <!-- start hero-header -->
    <div class="hero hero-breadcrumb" style="background-image:url('@Model.HeaderPhotoPath');">
        <div class="container">
            <h1>Блог</h1>
        </div>
    </div>
    <div class="container pt-10 pb-60">
        @await Component.InvokeAsync(typeof(FlexTemplate.PresentationLayer.WebServices.Components.Breadcrumbs.Breadcrumbs))
        <div class="mt-40">
            <div class="row">
                <div class="col-sm-8 col-md-9 col-xs-12 mb-50-xs">
                    <div class="recent-post-wrapper">
                        <div class="GridLex-gap-30">
                            <div class="GridLex-grid-noGutter-equalHeight">
                                @foreach (var blog in Model.Blogs)
                                {
                                    <div class="GridLex-col-6_sm-12_xs-12_xss-12">
                                        <div class="recent-post-item mb-40">
                                            <div class="image">
                                                <div class="overlay-box">
                                                    <a asp-controller="Home" asp-action="Blog" asp-route-id="@blog.Id">
                                                        <img src="@blog.HeadPhotoPath" alt="image" onerror="this.onerror = null; this.src = '../../Resources/Defaults/blog.jpg';" />
                                                        <div class="image-overlay">
                                                            <div class="overlay-content">
                                                                <div class="overlay-icon"><i class="pe-7s-link"></i></div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="recent-post-meta clearfix">
                                                    <div class="date-posted">@blog.CreatedOn</div>
                                                    <div>by: @blog.AuthorName </div>
                                                    @if (blog.IsModerated)
                                                    {
                                                        <div>in: Review Trip</div>
                                                    }
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h4><a asp-controller="Home" asp-action="Blog" asp-route-id="@blog.Id">@blog.Caption</a></h4>
                                                <p class="recent-post-entry">@blog.Preable</p>
                                                <a asp-controller="Home" asp-action="Blog" asp-route-id="@blog.Id" class="btn btn-primary btn-inverse btn-sm">Read more <i class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        @await Component.InvokeAsync(typeof(FlexTemplate.PresentationLayer.WebServices.Components.BlogsPagination.BlogsPagination), new { blogsCount = Model.BlogsCount })
                    </div>
                </div>
                @await Component.InvokeAsync(typeof(FlexTemplate.PresentationLayer.WebServices.Components.BlogsFeed.BlogsFeed))
            </div>
        </div>
    </div>
</div>
<!-- end Main Wrapper -->