@model FlexTemplate.PresentationLayer.WebServices.Components.BlogComments.ViewModel
@if(Model != null)
{
    <h4>@Model.CommentsCount Комментарів</h4>
    <ul class="comment-item">
        @foreach (var comment in Model.Comments)
        {
            <li class="clearfix">
                <div class="comment-avatar">
                    <img src="@comment.AuthorPhotoPath" alt="author image" />
                </div>
                <div class="comment-header">
                    @*<a href="#" class="comment-reply">відповісти</a>*@
                    <a href="#" class="font700 text-uppercase">@comment.AuthorUsername</a>
                    <span class="comment-time">@comment.CreatedOn</span>
                </div>
                <div class="comment-content">
                    <p>@comment.Text</p>
                </div>
            </li>
        }
    </ul>
}