@model FlexTemplate.PresentationLayer.WebServices.Home.Blog.ViewModel
<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">
    <!-- start hero-header -->
    <div class="hero hero-breadcrumb" style="background-image: url('@Model.BannerPath');">
        <div class="container">
        </div>
    </div>
    <div class="container pt-10 pb-60">
        @await Component.InvokeAsync(typeof(FlexTemplate.PresentationLayer.WebServices.Components.Breadcrumbs.Breadcrumbs))
        <div class="mt-40">
            <div class="row">
                <div class="col-sm-8 col-md-9 col-xs-12 mb-50-xs">
                    <div class="blog-single-wrapper">
                        <div class="heading">
                            <h3>@Model.Name</h3>
                            <div class="meta clearfix">
                                <div class="date-posted">@Model.CreatedOn</div>
                                <div>автор: @Model.AuthorDisplayName</div>
                                @if (!Model.IsModerated)
                                {
                                    <div>@Model.IsModeratedText</div>
                                }                      
                            </div>
                            @if (Model.IsAuthor)
                            {
                                <span class="btn-holder">
                                    <a asp-controller="Home" asp-action="EditBlog" asp-route-id="@Model.Id" class="btn btn-primary anchor-alt">Правити статтю</a>
                                </span>
                            }
                            @if (Model.IsAdmin && !Model.IsModerated)
                            {
                                <span class="btn-holder">
                                    <a asp-controller="Home" asp-action="DeclineBlog" asp-route-id="@Model.Id" class="btn btn-primary anchor-alt">@Model.DeclineText</a>
                                </span>
                                <span class="btn-holder">
                                    <a asp-controller="Home" asp-action="AcceptBlog" asp-route-id="@Model.Id" class="btn btn-primary anchor-alt">@Model.AcceptText</a>
                                </span>
                            }
                        </div>
                        <div class="content blog-entry">
                            <p>@Model.Text</p>
                        </div>
                        <div class="blog-extra">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-7 xs-mb">
                                    <div class="tag-cloud clearfix mt-0">
                                        <span><i class="fa fa-tags"></i> Теги: </span>
                                        @foreach (var tag in Model.Tags)
                                        {
                                            <a asp-controller="Home" asp-action="Blogs" asp-route-tags="@tag.Id" class="tag-item">@tag.Name</a>
                                        }
                                    </div>
                                </div>
                                @*<div class="col-xs-12 col-sm-6 col-md-5 xs-mb">
                                        <ul class="social-share-sm mt-5 pull-right pull-left-xs mt-20-xs">
                                            <li><span><i class="fa fa-share-square"></i> share</span></li>
                                            <li class="the-label"><a href="#">Facebook</a></li>
                                            <li class="the-label"><a href="#">Twitter</a></li>
                                            <li class="the-label"><a href="#">Google Plus</a></li>

                                        </ul>
                                    </div>
                                    <div class="clear"></div>*@
                            </div>
                        </div>
                        <h4>Автор</h4>
                        <div class="blog-author clearfix">
                            <div class="author-label">
                                <img src="@Model.AuthorPhotoPath" alt="Автор"/>
                            </div>
                            <div class="author-details">
                                <h6><a class="inverse">@Model.AuthorDisplayName</a></h6>
                                @*
                                    <p>Prepared do an dissuade be so whatever steepest. Yet her beyond looked either day wished nay. By doubtful disposed do juvenile an. Now curiosity you explained immediate why behaviour. An dispatched impossible of of melancholy favourable. </p>
                                    <div class="social">
                                        <a href="#" class="bottomtip" title="Twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="bottomtip" title="Facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="bottomtip" title="Dribbble"><i class="fa fa-dribbble"></i></a>
                                        <a href="#" class="bottomtip" title="Youtube"><i class="fa fa-youtube"></i></a>
                                        <a href="#" class="bottomtip" title="RSS"><i class="fa fa-rss"></i></a>
                                    </div>
                                *@
                            </div>
                        </div>
                    </div>
                    <div class="clear mb-40"></div>
                    @await Component.InvokeAsync(typeof(FlexTemplate.PresentationLayer.WebServices.Components.BlogComments.BlogComments))
                    <!-- End Comment -->
                    <div class="clear mb-40"></div>
                    <h4>Додати комментар</h4>
                    <form method="post" id="contactForm" asp-controller="Home" asp-action="NewBlogComment" asp-route-blogid="@Model.Id" class="comment-form">
                        @*<div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="comment-name">Ваше ім'я <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="comment-name">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="comment-email">Ваш Email <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="comment-email">
                                </div>
                            </div>
                        </div>*@
                        <div class="clear"></div>
                        <div class="row">
                            <div class="col-md-12 mb-20">
                                <div class="form-group">
                                    <label for="comment-message">Комментар</label>
                                    <textarea name="text" id="comment-message" class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Відправити</button>
                            </div>
                        </div>
                    </form>
                </div>
                @await Component.InvokeAsync(typeof(FlexTemplate.PresentationLayer.WebServices.Components.BlogsFeed.BlogsFeed))
            </div>
        </div>
    </div>
</div>
<!-- end Main Wrapper -->