@model FlexTemplate.ViewModels.HomeController.HomeBlogViewModel
<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">

    <!-- start hero-header -->
    <div class="hero hero-breadcrumb" style="background-image:url('images/hero-header/02.jpg');">

        <div class="container">

            <h1>Блог</h1>

        </div>

    </div>

    <div class="container pt-10 pb-60">

        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li><a href="#">Головна</a></li>
                <li class="active">@Model.Blog.Caption</li>
            </ol>
        </div>

        <div class="mt-40">

            <div class="row">

                <div class="col-sm-8 col-md-9 col-xs-12 mb-50-xs">

                    <div class="blog-single-wrapper">

                        <div class="heading">

                            <h3>@Model.Blog.Caption</h3>

                            <div class="meta clearfix">
                                <div class="date-posted">@Model.Blog.CreatedOn</div>
                                <div>by: @Model.Blog.Author.Name @Model.Blog.Author.Surname</div>
                                <div>in: Review Trip</div>
                            </div>

                        </div>

                        <div class="content blog-entry">

                            <img src="images/post-grid/01.jpg" alt="image" />
                            <p>@Model.Blog.Text</p>

                        </div>

                        <div class="blog-extra">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-7 xs-mb">
                                    <div class="tag-cloud clearfix mt-0">
                                        <span><i class="fa fa-tags"></i> tags: </span>
                                        <a href="#" class="tag-item">HTML5</a> <a href="#" class="tag-item">CSS3</a> <a href="#" class="tag-item">jQuery</a>
                                        <a href="#" class="tag-item">Creative</a>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-5 xs-mb">
                                    <ul class="social-share-sm mt-5 pull-right pull-left-xs mt-20-xs">

                                        <li><span><i class="fa fa-share-square"></i> share</span></li>
                                        <li class="the-label"><a href="#">Facebook</a></li>
                                        <li class="the-label"><a href="#">Twitter</a></li>
                                        <li class="the-label"><a href="#">Google Plus</a></li>

                                    </ul>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <h4>Про автора</h4>
                        <div class="blog-author clearfix">
                            <div class="author-label">
                                <img src="images/man/01.jpg" alt="author image" />
                            </div>
                            <div class="author-details">

                                <h6><a href="#" class="inverse">@Model.Blog.Author.Name @Model.Blog.Author.Surname</a></h6>
                                <p>Prepared do an dissuade be so whatever steepest. Yet her beyond looked either day wished nay. By doubtful disposed do juvenile an. Now curiosity you explained immediate why behaviour. An dispatched impossible of of melancholy favourable. </p>

                                <div class="social">
                                    <a href="#" class="bottomtip" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="bottomtip" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="bottomtip" title="Dribbble"><i class="fa fa-dribbble"></i></a>
                                    <a href="#" class="bottomtip" title="Youtube"><i class="fa fa-youtube"></i></a>
                                    <a href="#" class="bottomtip" title="RSS"><i class="fa fa-rss"></i></a>
                                </div><!-- end social -->

                            </div>

                        </div>

                    </div>

                    <div class="clear mb-40"></div>

                    <h4>9 Comments</h4>
                    @await Component.InvokeAsync("BlogComments", new { item = Model.Blog })
                  <!-- End Comment -->

                    <div class="clear mb-40"></div>

                    <h4>Вiдправити комментар</h4>

                    <form method="post" id="contactForm" action="post" class="comment-form">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="comment-name">Ваше ім'я <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="comment-name">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label for="comment-email">Ваш Email <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="comment-email">
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <div class="row">
                            <div class="col-md-12 mb-20">
                                <div class="form-group">
                                    <label for="comment-message">Повідомлення <span class="text-danger">*</span></label>
                                    <textarea name="message" id="comment-message" class="form-control" rows="8"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Відправити</button>
                            </div>
                        </div>
                    </form>


                </div>

                <div class="col-sm-4 col-md-3 col-xs-12">

                    <aside class="sidebar-wrapper for-blog">

                        <div class="sidebar-module">
                            <div class="sidebar-module-inner">
                                <div class="sidebar-mini-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Шукати...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clear"></div>

                        <div class="section-title-02">
                            <h4><span>Категорії</span></h4>
                        </div>

                        <div class="sidebar-module clearfix">

                            <ul class="sidebar-category">
                                <li><a href="#">Business<span>(25)</span></a></li>
                                <li class="active"><a href="#">Commerce<span>(2)</span></a></li>
                                <li><a href="#">Coporate<span>(14)</span></a></li>
                                <li><a href="#">Creative<span>(157)</span></a></li>
                                <li><a href="#">Entertainment<span>(87)</span></a></li>
                                <li><a href="#">Nonprofit<span>(47)</span></a></li>
                                <li><a href="#">Personal<span>(8)</span></a></li>
                                <li><a href="#">Technology<span>(32)</span></a></li>
                                <li><a href="#">Miscellaneous<span>(26)</span></a></li>
                            </ul>

                        </div>

                        <div class="section-title-02">
                            <h4><span>Останні повідомлення</span></h4>
                        </div>

                        <div class="sidebar-module clearfix">

                            <ul class="sidebar-post">
                                <li class="clearfix">
                                    <a href="blog-single.html">
                                        <div class="image">
                                            <img src="images/blog/01-sm.jpg" alt="Popular Post" />
                                        </div>
                                        <div class="content">
                                            <h6>Enough around remove to barton agreed regret</h6>
                                            <p class="recent-post-sm-meta"><i class="fa fa-clock-o mr-5"></i>June 01, 2016</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="blog-single.html">
                                        <div class="image">
                                            <img src="images/blog/02-sm.jpg" alt="Popular Post" />
                                        </div>
                                        <div class="content">
                                            <h6>Year well shot deny shew come now had. Shall downs stand marry taken his for out</h6>
                                            <p class="recent-post-sm-meta"><i class="fa fa-clock-o mr-5"></i>April 25, 2016</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="blog-single.html">
                                        <div class="image">
                                            <img src="images/blog/03-sm.jpg" alt="Popular Post" />
                                        </div>
                                        <div class="content">
                                            <h6>Do related mr account brandon an up. Wrong for never ready ham these witty him</h6>
                                            <p class="recent-post-sm-meta"><i class="fa fa-clock-o mr-5"></i>March 20, 2016</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="blog-single.html">
                                        <div class="image">
                                            <img src="images/blog/04-sm.jpg" alt="Popular Post" />
                                        </div>
                                        <div class="content">
                                            <h6>Our compass see age uncivil matters weather forbade her minutes</h6>
                                            <p class="recent-post-sm-meta"><i class="fa fa-clock-o mr-5"></i>March 05, 2016</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="blog-single.html">
                                        <div class="image">
                                            <img src="images/blog/05-sm.jpg" alt="Popular Post" />
                                        </div>
                                        <div class="content">
                                            <h6>Ready how but truth son new under.</h6>
                                            <p class="recent-post-sm-meta"><i class="fa fa-clock-o mr-5"></i>February 17, 2015</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>


                        </div>

                        <div class="section-title-02">
                            <h4><span>Популярні повідомлення</span></h4>
                        </div>

                        <div class="sidebar-module clearfix">

                            <ul class="sidebar-post">
                                <li class="clearfix">
                                    <a href="blog-single.html">
                                        <div class="image">
                                            <img src="images/blog/01-sm.jpg" alt="Popular Post" />
                                        </div>
                                        <div class="content">
                                            <h6>Appetite welcomed interest the goodness boy</h6>
                                            <p class="recent-post-sm-meta"><i class="fa fa-comments mr-5"></i>5 comments</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="blog-single.html">
                                        <div class="image">
                                            <img src="images/blog/02-sm.jpg" alt="Popular Post" />
                                        </div>
                                        <div class="content">
                                            <h6>Wrong for never ready ham these witty him</h6>
                                            <p class="recent-post-sm-meta"><i class="fa fa-comments mr-5"></i>5 comments</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="blog-single.html">
                                        <div class="image">
                                            <img src="images/blog/03-sm.jpg" alt="Popular Post" />
                                        </div>
                                        <div class="content">
                                            <h6>Tell size come hard mrs and four fond are</h6>
                                            <p class="recent-post-sm-meta"><i class="fa fa-comments mr-5"></i>5 comments</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="blog-single.html">
                                        <div class="image">
                                            <img src="images/blog/04-sm.jpg" alt="Popular Post" />
                                        </div>
                                        <div class="content">
                                            <h6>Side need at in what dear ever upon</h6>
                                            <p class="recent-post-sm-meta"><i class="fa fa-comments mr-5"></i>5 comments</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="clearfix">
                                    <a href="blog-single.html">
                                        <div class="image">
                                            <img src="images/blog/05-sm.jpg" alt="Popular Post" />
                                        </div>
                                        <div class="content">
                                            <h6>Same down want joy neat ask pain help</h6>
                                            <p class="recent-post-sm-meta"><i class="fa fa-comments mr-5"></i>5 comments</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>


                        </div>

                        <div class="section-title-02">
                            <h4><span>Архів</span></h4>
                        </div>

                        <div class="sidebar-module clearfix">

                            <ul class="sidebar-archives">
                                <li><a href="#">January 2015<span>(25)</span></a></li>
                                <li class="active"><a href="#">February 2015<span>(2)</span></a></li>
                                <li><a href="#">March 2015<span>(14)</span></a></li>
                                <li><a href="#">April 2015<span>(157)</span></a></li>
                                <li><a href="#">June 2015<span>(87)</span></a></li>
                            </ul>

                        </div>

                        <div class="section-title-02">
                            <h4><span>Теги</span></h4>
                        </div>

                        <div class="sidebar-module clearfix">

                            <div class="tag-cloud clearfix">
                                <a href="#" class="tag-item">HTML5</a> <a href="#" class="tag-item">CSS3</a> <a href="#" class="tag-item">jQuery</a>
                                <a href="#" class="tag-item">Creative</a> <a href="#" class="tag-item">Design</a> <a href="#" class="tag-item">iOS</a>
                                <a href="#" class="tag-item">Android</a> <a href="#" class="tag-item">Video</a> <a href="#" class="tag-item">Markup</a>
                                <a href="#" class="tag-item">Programming</a> <a href="#" class="tag-item">SEO</a>
                            </div>

                        </div>

                        <div class="section-title-02">
                            <h4><span>Sidebar Text Widget</span></h4>
                        </div>

                        <div class="sidebar-module clearfix">

                            <div class="sidebar-text-widget">
                                <p>In alteration insipidity impression by travelling reasonable up motionless. Of regard warmth by unable sudden garden ladies. No kept hung am size spot no. Likewise led and dissuade <a href="#">rejoiced</a> welcomed husbands boy.</p>
                                <ul>
                                    <li>Eat imagine you chiefly few end ferrars compass</li>
                                    <li>Be visitor females am ferrars inquiry</li>
                                    <li>Latter law remark two lively thrown</li>
                                    <li>Spot set they know rest its</li>
                                    <li>Raptures law diverted believed jennings</li>
                                </ul>
                            </div>

                        </div>

                        <div class="section-title-02">
                            <h4><span>Meta</span></h4>
                        </div>

                        <div class="sidebar-module clearfix">
                            <ul class="sidebar-list mb-0">
                                <li><a href="#">Log in</a></li>
                                <li><a href="#">Entries RSS</a></li>
                                <li><a href="#">Comments RSS</a></li>
                                <li><a href="#">WordPress.org</a></li>
                            </ul>
                        </div>


                    </aside>

                </div>

            </div>

        </div>

    </div>

</div>
<!-- end Main Wrapper -->