@using System.Linq
@using FlexTemplate.Entities
@model FlexTemplate.ViewModels.HomeController.HomeBlogsViewModel
<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">

    <!-- start hero-header -->
    <div class="hero hero-breadcrumb" style="background-image:url('../../images/hero-header/02.jpg');">

        <div class="container">

            <h1>Блог</h1>

        </div>

    </div>

    <div class="container pt-10 pb-60">

        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li><a href="#">Головна</a></li>
                <li class="active">Блог</li>
            </ol>
        </div>

        <div class="mt-40">

            <div class="row">

                <div class="col-sm-8 col-md-9 col-xs-12 mb-50-xs">

                    <div class="recent-post-wrapper">

                        <div class="GridLex-gap-30">

                            <div class="GridLex-grid-noGutter-equalHeight">

                                @foreach (Blog blog in Model.Blogs)
                                {


                                <div class="GridLex-col-6_sm-12_xs-12_xss-12">

                                    <div class="recent-post-item mb-40">

                                        <div class="image">

                                            <div class="overlay-box">

                                                <a href="#">
                                                    <img src="images/post-grid/01.jpg" alt="image" />
                                                    <div class="image-overlay">
                                                        <div class="overlay-content">
                                                            <div class="overlay-icon"><i class="pe-7s-link"></i></div>
                                                        </div>
                                                    </div>
                                                </a>

                                            </div>

                                            <div class="recent-post-meta clearfix">
                                                <div class="date-posted">@blog.CreatedOn</div>
                                                <div>by: @blog.Author.Name @blog.Author.Surname</div>
                                                <div>in: Review Trip</div>
                                            </div>

                                        </div>

                                        <div class="content">

                                            <h4><a asp-controller="Home" asp-action="Blog" asp-route-id="@blog.Id">@blog.Caption</a></h4>
                                            <p class="recent-post-entry">@blog.Preamble</p>

                                            <a href="#" class="btn btn-primary btn-inverse btn-sm">Read more <i class="fa fa-long-arrow-right"></i></a>

                                        </div>

                                    </div>

                                </div>

                                }

                            </div>

                        </div>

                        <div class="pagination-wrapper mt-40 mb-0">

                            <div class="GridLex-grid-middle GridLex-grid-noGutter">
                                <div class="GridLex-col GridLex-col-12_sm-12_xs-12 pb-0">

                                    <nav>
                                        <ul class="pagination text-center">
                                            <li>
                                                <a href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#">4</a></li>
                                            <li><a href="#">5</a></li>
                                            <li>
                                                <a href="#" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                @await Component.InvokeAsync("BlogsFeed", new { item = Model.Blogs });

            </div>

        </div>

    </div>

</div>
<!-- end Main Wrapper -->