@model FlexTemplate.ViewModels.HomeController.EditPlaceViewModel
<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">
    <!-- start hero-header -->
    <div class="hero hero-breadcrumb" style="background-image:url('../../images/hero-header/03.jpg');">
        <div class="container">
            <h1>Додати ресторан</h1>
            <p>Додати ресторан</p>
        </div>
    </div>
    <div class="container pt-10 pb-30">
        <div class="breadcrumb-wrapper">
            <ol class="breadcrumb">
                <li><a asp-action="Index">Головна</a></li>
                <li class="active">Додати ресторан</li>
            </ol>
        </div>
        <div class="row mt-40 mb-30">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                <!--<div class="notify-box">
                    <div class="notify-inner">
                        <p> Якщо у вас немає аккаунту ви можете створити новий, ввівши свою електронну адресу/ім'я користувача. Дані аккаунту будуть підтверджені по електронній пошті.</p>
                        <a href="#" class="btn btn-primary btn-sm btn-absolute">Вхід</a>
                    </div>
                </div>-->
                <div class="submite-list-wrapper">
                    <form method="post" asp-controller="Home" asp-action="EditPlacePost" enctype="multipart/form-data" id="new-place-form">
                        <!--Main info-->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="section-title-02 mb-20">
                                    <h3><span>Довідкова інформація</span></h3>
                                    <p>Get your projects to a new level. Included is animation on view, Parallax block, counters and charts, high resolution graphics etc.</p>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="id" value="@Model.Id">
                        <div class="submite-list-box">
                            <div class="row ga-20">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group form-group-lg">
                                        <label>Назва ресторану:</label>
                                        <input type="text" class="form-control required" name="Name" value="@Model.Name" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group bootstrap3-wysihtml5-wrapper">
                                        <label>Iнформація про ресторан:</label>
                                        <textarea name="Description" class="bootstrap3-wysihtml5 form-control" style="height: 200px;">@Model.Description</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row gap-20 mt-15">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <label class="block">Категорії</label>
                                </div>
                                @foreach (FlexTemplate.Entities.Category category in Model.AllCategories)
                                {
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="checkbox-block font-icon-checkbox">
                                            <input id="filter_cuisine-@category.Id" checked="@(Model.CurrentCategories != null && Model.CurrentCategories.Any() ? Model.CurrentCategories.Select(c => c.Id).Contains(category.Id) : false)" type="checkbox" class="checkbox" name="Categories[]" value="@category.Id" />
                                            <label for="filter_cuisine-@category.Id">@category.Name</label>
                                        </div>
                                    </div>
                                }
                            </div>
                            <h6 class="text-primary text-uppercase mt-15">Адреса &amp; Контакти</h6>
                            <div class="row gap-20">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Місто</label>
                                        <input type="text" class="form-control required" name="city" value="@Model.City" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Вулиця</label>
                                        <input type="text" class="form-control required" name="street" value="@Model.Street" />
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label>Адреса</label>
                                        <input type="text" class="form-control required" name="address" value="@Model.Address" />
                                    </div>
                                </div>
                                <div class="col-xss-12 col-xs-6 col-sm-4">
                                    <div class="form-group">
                                        <label>Телефон</label>
                                        <input type="text" class="form-control required" name="phone" value="@Model.Phone" />
                                    </div>
                                </div>
                                <div class="col-xss-12 col-xs-6 col-sm-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" class="form-control" name="email" value="@Model.Email" />
                                    </div>
                                </div>
                                <div class="col-xss-12 col-xs-6 col-sm-4">
                                    <div class="form-group">
                                        <label>Веб сайт</label>
                                        <input type="text" class="form-control" name="website" value="@Model.Website" />
                                    </div>
                                </div>
                            </div>
                            <h6 class="text-primary text-uppercase mt-15">Карта</h6>
                            <div id="map-simple" class="map-submit mb-40"></div>
                            <input id="lat-hidden" type="hidden" name="Latitude" value="@Model.Latitude" />
                            <input id="lng-hidden" type="hidden" name="Longitude" value="@Model.Longitude" />
                            <h6 class="text-primary text-uppercase mt-15">Opening Hours</h6>
                            <div class="opening-hours-wrapper">

                                <div class="opening-hours-box">

                                    <div class="row gap-20">

                                        <div class="col-xs-12 col-sm-6 col-md-6">

                                            <label class="day-name">Monday</label>

                                            <div class="row gap-10">

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group from mb-15">
                                                        <span class="input-group-addon">from</span>
                                                        <input class="oh-timepicker form-control" type="text" name="MondayFrom" value="@(Model.MondayFrom == TimeSpan.Zero ? string.Empty : $"{Model.MondayFrom.Hours:00}:{Model.MondayFrom.Minutes:00}")">
                                                    </div>

                                                </div>

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group to mb-15">
                                                        <span class="input-group-addon">to</span>
                                                        <input class="oh-timepicker form-control" type="text" name="MondayTo" value="@(Model.MondayTo == TimeSpan.Zero ? string.Empty : $"{Model.MondayTo.Hours:00}:{Model.MondayTo.Minutes:00}")">
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-6">

                                            <label class="day-name">Tuesday</label>

                                            <div class="row gap-10">

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group from mb-15">
                                                        <span class="input-group-addon">from</span>
                                                        <input class="oh-timepicker form-control" type="text" name="TuesdayFrom" value="@(Model.TuesdayFrom == TimeSpan.Zero ? string.Empty : $"{Model.TuesdayFrom.Hours:00}:{Model.TuesdayFrom.Minutes:00}")">
                                                    </div>

                                                </div>

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group to mb-15">
                                                        <span class="input-group-addon">to</span>
                                                        <input class="oh-timepicker form-control" type="text" name="TuesdayTo" value="@(Model.TuesdayTo == TimeSpan.Zero ? string.Empty : $"{Model.TuesdayTo.Hours:00}:{Model.TuesdayTo.Minutes:00}")">
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-6">

                                            <label class="day-name">Wednesday</label>

                                            <div class="row gap-10">

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group from mb-15">
                                                        <span class="input-group-addon">from</span>
                                                        <input class="oh-timepicker form-control" type="text" name="WednesdayFrom" value="@(Model.WednesdayFrom == TimeSpan.Zero ? string.Empty : $"{Model.WednesdayFrom.Hours:00}:{Model.WednesdayFrom.Minutes:00}")">
                                                    </div>

                                                </div>

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group to mb-15">
                                                        <span class="input-group-addon">to</span>
                                                        <input class="oh-timepicker form-control" type="text" name="WednesdayTo" value="@(Model.WednesdayTo == TimeSpan.Zero ? string.Empty : $"{Model.WednesdayTo.Hours:00}:{Model.WednesdayTo.Minutes:00}")">
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-6">

                                            <label class="day-name">Thursday</label>

                                            <div class="row gap-10">

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group from mb-15">
                                                        <span class="input-group-addon">from</span>
                                                        <input class="oh-timepicker form-control" type="text" name="ThurstdayFrom" value="@(Model.ThurstdayFrom == TimeSpan.Zero ? string.Empty : $"{Model.ThurstdayFrom.Hours:00}:{Model.ThurstdayFrom.Minutes:00}")">
                                                    </div>

                                                </div>

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group to mb-15">
                                                        <span class="input-group-addon">to</span>
                                                        <input class="oh-timepicker form-control" type="text" name="ThurstdayTo" value="@(Model.ThurstdayTo == TimeSpan.Zero ? string.Empty : $"{Model.ThurstdayTo.Hours:00}:{Model.ThurstdayTo.Minutes:00}")">
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-6">

                                            <label class="day-name">Friday</label>

                                            <div class="row gap-10">

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group from mb-15">
                                                        <span class="input-group-addon">from</span>
                                                        <input class="oh-timepicker form-control" type="text" name="FridayFrom" value="@(Model.FridayFrom == TimeSpan.Zero ? string.Empty : $"{Model.FridayFrom.Hours:00}:{Model.FridayFrom.Minutes:00}")">
                                                    </div>

                                                </div>

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group to mb-15">
                                                        <span class="input-group-addon">to</span>
                                                        <input class="oh-timepicker form-control" type="text" name="FridayTo" value="@(Model.FridayTo == TimeSpan.Zero ? string.Empty : $"{Model.FridayTo.Hours:00}:{Model.FridayTo.Minutes:00}")">
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-6">

                                            <label class="day-name">Saturday</label>

                                            <div class="row gap-10">

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group from mb-15">
                                                        <span class="input-group-addon">from</span>
                                                        <input class="oh-timepicker form-control" type="text" name="SaturdayFrom" value="@(Model.SaturdayFrom == TimeSpan.Zero ? string.Empty : $"{Model.SaturdayFrom.Hours:00}:{Model.SaturdayFrom.Minutes:00}")">
                                                    </div>

                                                </div>

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group to mb-15">
                                                        <span class="input-group-addon">to</span>
                                                        <input class="oh-timepicker form-control" type="text" name="SaturdayTo" value="@(Model.SaturdayTo == TimeSpan.Zero ? string.Empty : $"{Model.SaturdayTo.Hours:00}:{Model.SaturdayTo.Minutes:00}")">
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                        <div class="col-xs-12 col-sm-6 col-md-6">

                                            <label class="day-name">Sunday</label>

                                            <div class="row gap-10">

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group from mb-15">
                                                        <span class="input-group-addon">from</span>
                                                        <input class="oh-timepicker form-control" type="text" name="SundayFrom" value="@(Model.SundayFrom == TimeSpan.Zero ? string.Empty : $"{Model.SundayFrom.Hours:00}:{Model.SundayFrom.Minutes:00}")">
                                                    </div>

                                                </div>

                                                <div class="col-xs-6 col-sm-6 col-md-6">

                                                    <div class="input-group to mb-15">
                                                        <span class="input-group-addon">to</span>
                                                        <input class="oh-timepicker form-control" type="text" name="SundayTo" value="@(Model.SundayTo == TimeSpan.Zero ? string.Empty : $"{Model.SundayTo.Hours:00}:{Model.SundayTo.Minutes:00}")">
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                        <!--End Main info-->
                        <!--Menus-->
                        <div class="row">

                            <div class="col-md-8">

                                <div class="section-title-02 mb-20">

                                    <h3><span>Menus</span></h3>

                                    <p>Get your projects to a new level. Included is animation on view, Parallax block, counters and charts, high resolution graphics etc.</p>

                                </div>

                            </div>

                        </div>

                        <div class="submite-list-box">

                            <div class="food-menu-form-wrapper">
                                @if (Model.Menus.Count == 0)
                                {
                                    <h6 class="text-primary text-uppercase">Menu Category #1</h6>

                                    <div class="form-group form-group-lg">

                                        <input type="text" name="Menus[0].Name" class="form-control" value=""/>

                                    </div>
                                    <div class="food-menu-form-box clearfix">

                                        <div class="icon">
                                            <i class="fa fa-cutlery text-primary"></i>
                                            <span class="number-label">1</span>
                                        </div>

                                        <div class="image-upload">
                                            <div class='dropzone food-menu-image'>
                                                <input name="file" type="file">
                                                <input class="file_descriptor" type="hidden" name="Menus[0].Products[0].Guid" value="@Guid.NewGuid()"/>
                                                <div class="dz-default dz-message"><span>Click or Drop<br />Images Here<br /><small class="font-italic text-muted font400 mt-5 block">2MB max file</small></span></div>
                                            </div>
                                        </div>

                                        <div class="food-memu-form">

                                            <div class="row gap-20">

                                                <div class="col-xss-12 col-xs-12 col-sm-9">

                                                    <div class="form-group">
                                                        <label>Title</label>
                                                        <input type="text" name="Menus[0].Products[0].Name" class="form-control" value=""/>
                                                    </div>

                                                </div>

                                                <div class="col-xss-12 col-xs-12 col-sm-3">

                                                    <div class="form-group">
                                                        <label>Price</label>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" name="Menus[0].Products[0].Price" value="">
                                                            <span class="input-group-addon">$</span>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-xss-12 col-xs-12 col-sm-12">

                                                    <div class="form-group">
                                                        <label>Short Description</label>
                                                        <input type="text" name="Menus[0].Products[0].Description" class="form-control" value=""/>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                }
                                @for (var i = 0; i < Model.Menus.Count; i++)
                                {
                                    <h6 class="text-primary text-uppercase">Menu Category #@(i + 1)</h6>

                                    <div class="form-group form-group-lg">
                                        <input type="hidden" name="Menus[@i].Id" value="@Model.Menus[i].Id">
                                        <input type="text" name="Menus[@i].Name" class="form-control" value="@Model.Menus[i].Name"/>

                                    </div>
                                    for (var j = 0; j < Model.Menus[i].Products.Count; j++)
                                    {
                                        <div class="food-menu-form-box clearfix">

                                            <div class="icon">
                                                <i class="fa fa-cutlery text-primary"></i>
                                                <span class="number-label">1</span>
                                            </div>

                                            <div class="image-upload">
                                                <div class='@(Model.Menus[i].Products[j].HasPhoto ? "dropzone food-menu-image food-menu-image-exsisting" : "dropzone food-menu-image")'>
                                                    <input name="file" type="file">
                                                    <input class="file_descriptor" type="hidden" name="Menus[@i].Products[@j].Id" value="@Model.Menus[i].Products[j].Id" />
                                                    <input class="file_descriptor" type="hidden" name="Menus[@i].Products[@j].Guid" value="@Model.Menus[i].Products[j].Id"/>
                                                    <div class="dz-default dz-message"><span>Click or Drop<br />Images Here<br /><small class="font-italic text-muted font400 mt-5 block">2MB max file</small></span></div>
                                                </div>
                                            </div>

                                            <div class="food-memu-form">

                                                <div class="row gap-20">

                                                    <div class="col-xss-12 col-xs-12 col-sm-9">

                                                        <div class="form-group">
                                                            <label>Title</label>
                                                            <input type="text" name="Menus[@i].Products[@j].Name" class="form-control" value="@Model.Menus[i].Products[j].Name"/>
                                                        </div>

                                                    </div>

                                                    <div class="col-xss-12 col-xs-12 col-sm-3">

                                                        <div class="form-group">
                                                            <label>Price</label>
                                                            <div class="input-group">
                                                                <input type="text" class="form-control numeric" name="Menus[@i].Products[@j].Price" value="@Model.Menus[i].Products[j].Price">
                                                                <span class="input-group-addon">$</span>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-xss-12 col-xs-12 col-sm-12">

                                                        <div class="form-group">
                                                            <label>Short Description</label>
                                                            <input type="text" name="Menus[@i].Products[@j].Description" class="form-control" value="@Model.Menus[i].Products[j].Description"/>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                    }
                                }
                                <div class="clearfix mt-15">
                                    <a id="add-product" menu-position="0"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                    <a id="remove-product" menu-position="0"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                                    <span class="ml-5 font13 line-12 text-muted font-italic">You can add upto 10 menus</span>
                                </div>

                            </div>

                        </div>

                        <div class="text-center">
                            <h6 class="text-primary text-uppercase mb-0"><a id="add-menu" menu-position="0"><i class="fa fa-plus font14"></i> Add more menu category</a></h6>
                            <p>You can add upto 10 menu categories</p>
                        </div>
                        <!--End Menus-->
                        <!--Фотографії-->
                        <div class="row">
                            <div class="col-md-8">
                                <div class="section-title-02 mb-20">
                                    <h3><span>Фотографії</span></h3>
                                    <p>Підніміть свої проекти на якісно новий рівень.</p>
                                </div>
                            </div>
                        </div>
                        <div class="submite-list-box">
                            <div id="edit-place" class="dropzone">
                                <input name="files" type="file" multiple>
                                <input class="file_descriptor" type="hidden" name="uid" value="@Model.Id" />
                                <div class="dz-default dz-message"><span>Натисніть або перетяніть сюди зображення</span></div>
                            </div>
                        </div>
                        <!--End Фотографії-->
                        <!--Submit-->
                        <!--<div class="checkbox-block font-icon-checkbox">
            <input id="term_accept-1" name="TermAccept" type="checkbox" class="required checkbox" />
            <label class="" for="term_accept-1">Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect. <a href="#" class="font700">Terms &amp; Conditions</a></label>
        </div>-->
                        <input type="submit" class="btn btn-primary mt-15" value="Відправити" />
                        <!--End Submit-->
                    </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- end Main Wrapper -->